<div class="container">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#/poi/">
      	<img src="images/poi.png" width="50" height="30" class="d-inline-block align-top" alt="">
		APACHE POI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
<!--       <li class="nav-item active"> -->
<!--         <a class="nav-link" href="#/sql/query">Features</a> -->
<!--       </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ACTION
        </a>
        <div ng-model="checked" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#/swap/">Test POI</a>

        </div>
      </li>
    </ul>
  </div>
</nav>



    <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
            <div class="card-header d-flex align-items-start justify-content-between">
              <h1 class="card-title my-0">APACHE POI</h1>

            </div>
            <div class="card-body"
              ng-model="artists">
              <h4 class="card-title text-dark mt-0">POI</h4>
              <img class="float-left mr-2 rounded"
                width="220" height="100"
                ng-src="images/poi.png"
                alt="Photo">
              <div ng-show="checked"class="card-text text-secondary">POI</div>
				<w3-test-directive></w3-test-directive>
				<div w3-test-directive></div>                
            </div>
          </div>
      </div>
    </div>
  </div>
  